{% extends 'index.html'%}
{% load static %}


{% block content %}

{% static 'user/img/naver_login_green.png' as naver_button %}
{% static 'user/img/naver_login_white.png' as naver_button_hover %}








<title>로그인</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .registration {
        width: 360px;
        margin: 0 auto;
    }

    p {
        text-align: center;
    }

    label {
        width: 50%;
        text-align: left;
    }

    .control-label {
        width: 100%;
    }

    .registration .form-actions>button {
        width: 100%;
    }
</style>

<script src="{% static 'user/js/social_login.js' %}"></script>


<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<div class="panel panel-default registration">
    <div class="panel-heading">
        소셜로그인
    </div>
    <div class="panel-body text-center">

        {% if user.is_active %}
        <!-- 로그인된 상태에서 계정의 이름을 눌렀을 때 로그인 페이지를 보여줄 필요가 없으므로 링크를 지움 -->
        <li><a href="#"> <span class="glyphicon glyphicon-heart"></span>로그인 되셨습니다.</a></li>
        <li><a href="/user/sociallogout/">네이버 로그아웃</a></li>

        
        {% else %}
       
        <a href="/user/socialnaver/login/?process=login">
            <img src="{{ naver_button }}"
                 onmouseover="this.src='{{ naver_button_hover }}'"
                 onmouseleave="this.src='{{ naver_button }}'"height="34">
        </a>
        
        <a href="{% url 'admin:index' %}"> <button class="btn btn-primary btn-large" type="button" >관리자계정으로 로그인</button></a>
        {% endif %}

    </div>
  
</div>
</div>


<div class="panel panel-default registration">
    <div class="panel-heading">
        로그인
    </div>
    <div class="panel-body">
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input name="{{ field.html_name }}" id="{{ field.id_for_lable }}" class="form-control"
                    type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
                {% for error in field.errors %}
                <label class="control-label" for="{{ field.id_for_label }}">{{ error }}</label>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">로그인</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}