 {% extends 'index.html' %}
 {% load staticfiles %}

{% block header %}
<h2>방송의 모든것</h2>
<h1>편집자 구하기</h1>
{% endblock %}

{% block content %}
    <!-- Filter Search Section Begin -->
    
    <div class="filter-search">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <form class="filter-form">
                        <div class="location">
                            <p>Location</p>
                            <select class="filter-location">
                                <option value="">London</option>
                                <option value="">US</option>
                                <option value="">UAE</option>
                            </select>
                        </div>
                        <div class="search-type">
                            <p>Property Type</p>
                            <select class="filter-property">
                                <option value="">House</option>
                                <option value="">Resort</option>
                                <option value="">Hotel</option>
                            </select>
                        </div>
                        <div class="price-range">
                            <p>Price</p>
                            <div class="range-slider">
                                <div id="slider-range">
                                    <div tabindex="0"
                                        class="ui-slider-handle ui-corner-all ui-state-default slider-left">50k</div>
                                    <div tabindex="0"
                                        class="ui-slider-handle ui-corner-all ui-state-default slider-right">300k</div>
                                </div>
                            </div>
                        </div>
                        <div class="bedrooms">
                            <p>Bedrooms</p>
                            <div class="room-filter-pagi">
                                <div class="bf-item">
                                    <input type="radio" name="room" id="room-1">
                                    <label for="room-1">1</label>
                                </div>
                                <div class="bf-item">
                                    <input type="radio" name="room" id="room-2">
                                    <label for="room-2">2</label>
                                </div>
                                <div class="bf-item">
                                    <input type="radio" name="room" id="room-3">
                                    <label for="room-3">3</label>
                                </div>
                                <div class="bf-item">
                                    <input type="radio" name="room" id="room-4">
                                    <label for="room-4">4+</label>
                                </div>
                            </div>
                        </div>
                        <div class="bathrooms">
                            <p>Bathrooms</p>
                            <div class="room-filter-pagi">
                                <div class="bf-item">
                                    <input type="radio" name="bathroom" id="bathroom-1">
                                    <label for="bathroom-1">1</label>
                                </div>
                                <div class="bf-item">
                                    <input type="radio" name="bathroom" id="bathroom-2">
                                    <label for="bathroom-2">2</label>
                                </div>
                                <div class="bf-item">
                                    <input type="radio" name="bathroom" id="bathroom-3">
                                    <label for="bathroom-3">3</label>
                                </div>
                                <div class="bf-item">
                                    <input type="radio" name="bathroom" id="bathroom-4">
                                    <label for="bathroom-4">4+</label>
                                </div>
                            </div>
                        </div>
    <form class="form-inline" action="{% url 'editor' %}" method="get">
    <div class="input-group">
        <select name="fd_name" id="" class="form-control">
            <option value="title">title</option>
            <option value="body">content</option>
        </select>
        <input type="text" class="form-control" name='q'>
        <button class="btn btn-secondary" type="submit">Search</button>
    </div>
</form>
{% comment %} <form action="{% url 'place' %}" method="get">
  <input type="text" name="q" value="{{ q }}">
  <input type="submit" value="검색">
</form> {% endcomment %}

                        {% comment %} <div class="search-btn">
                            <button type="submit"><i class="flaticon-search"></i>Search</button>
                        </div> {% endcomment %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Search Section End -->
 
    
    <a href="{% url 'editor_create' %}"><button type="button" class="btn btn-danger">글등록</button></a>
      <section class="hotel-rooms spad">
        <div class="container">
            <div class="row">
                     {% for editor in editors.all %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                    {% if editor.image %}
                        <div class="room-img set-bg" data-setbg="{{ editor.image.url }}">
                    {% endif %}
                            <a href="#" class="room-content">
                                <i class="flaticon-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>{{ editor.title }}</h5>
                                    <a href="#"><i class="flaticon-placeholder"></i> <span>Location</span></a>
                                    <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>Show on
                                            Map</span></a>
                                </div>
                            </div>
                            <div class="room-price">
                                <p>create_at</p>
                                <span>{{ editor.summary }}</span>
                            </div>
                            <a href="{% url 'editor_detail' editor.id %}" class="site-btn btn-line">View Property</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
     {% comment %} {% for place in places.all %}
            <div class="card-group">
            <div class="card">
            {% if place.image %}
                <img src="{{ place.image.url }}" class="card-img-top" alt="place_image" style="magin: 3rem; width: 18rem;">
            {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{ place.title }}</h5>
                <p class="card-text">{{ place.pub_date }}</p>
                <p class="card-text"><small class="text-muted">{{ place.summary }}<a href="{% url 'place_detail' place.id %}"> 더보기 </a></small></p>
                </div>
            </div> 
            </div>
    {% endfor %} {% endcomment %}
 <!-- 카드리스트 시작 -->
    {% comment %} <section class="hotel-rooms spad">
        <div class="container">
            {% for place in places.all %}
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        {% if place.image %}
                        <div class="room-img set-bg" data-setbg="{{ place.image.url }}">
                        {% endif %}
                            <a href="#" class="room-content">
                                <i class="flaticon-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>{{ place.title}}</h5>
                                    <a href="#"><i class="flaticon-placeholder"></i> <span>{{ place.pub_date }}</span></a>
                                    <a href="#" class="large-width"><i class="flaticon-cursor"></i> <span>{{ place.summary }}
                                        </span></a>
                                </div>
                            </div>
                             <div class="room-price">
                                <p>희망 가격</p>
                                <span>$345,000</span>
                            </div>
                            <a href="{% url 'place_detail' place.id %}" class="site-btn btn-line">더보기</a>
                        </div>
                    </div>
            {% endfor %}
                </div>            
    </section> {% endcomment %}
    <!-- 카드리스트 끝 -->
</div>
</div>
</section>
{% endblock %}