{% comment %} <br>
<div class="container">
    <h2> 글을 수정 </h2>
    {% for place in places.all %}
	<form method='POST' enctype="multipart/form-data">
	 {% csrf_token %}
	  <h4>제에목: </h4>
	  <input type="text" name="title">
	  <br>
	  <br>
	  <h4>본문: </h4>
	  <textarea cols=40 rows=10 name="body"></textarea>
	  <br>
	  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
  </div>
	  <br>
	  <input class="btn btn-dark" type="submit" value="제출하기">
  </form>
  {% endfor %}
</div> {% endcomment %}

{% comment %} <form method="POST">
{% csrf_token %}
    {{ form.as_table }}
    <button type="submit" class="btn-default"> SAVE </button>
</form> {% endcomment %}

 {% for place in places.all %}
    <div class="card">
      <h5 class="card-header">{{ place.title }}</h5>
 
      <div class="card-body">
  

        <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
            {{form.as_table}}
        <button type = "submit" class="btn btn-primary">저어장</button>
        </form>
      </div>
    </div>
  {% endfor %}