{% extends 'index.html' %}
{% comment %} <br>
<div class="container">
    <form action="{% url 'place_create' %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <h4>제목: </h4>
        <input type="text" name="title">
        <br>
        <br>
        <h4>본문: </h4>
        <textarea cols=40 rows=10 name="body"></textarea>
        <br>
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
        </div>
        <br>
        <input class="btn btn-dark" type="submit" value="제출하기">
    </form>
</div> {% endcomment %}

{% block content %}
<section class="hotel-rooms spad">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>
</section>
{% endblock %} 
